
page-articleLinked {
    

    .content{
        background-color: #353535;
        text-align: justify;
    }

    .buttons{
        border-left: 2px;
        border-right: 2px;
        border-color: white;
        border : 5px;
    }

    .sub{
        color: #4f0306;
    }

}
