
page-dashboard {

        
            ion-card {
                position: relative;
                text-align: center;
                height: 150px;
            }
            .card-title {
                position: absolute;
                top: 30%;
                font-size: 3.0em;
                width: 100%;
                font-weight: bold;
                color: #353535;
            }
            .img-card{
                opacity: 0.75;
            }
            
            .content{
                background-color: #353535;
            }
    
}