
page-magazine {


    .content{
        background-color: color($colors, secondary);   
    }
    .col{
        padding: 1px;
    }
    .card{
        margin: 0px;
        width: 100%;
    }
    .card-content{
        padding : 0px;
    }
    .imgBanner{
        height: 140px;
    }
    .btnsrc{
        margin-top: 10px;
        //background-color: #353535;
        background-color: #000000;

    }
    .btncat{
        margin-top: 10px;
        //background-color: #353535;
        background-color: #353535;

    }

    
}
