.ios, .md, .wp {
 
    page-categories {
 
        ion-slides{ max-height:23%;}
        
        ion-content{
        background-color:color($colors,primary);
        background-size:100% auto;
        }

        $song-card-height: 90px;
        
        
        ion-list {
 
            margin-top : 20px; 
            
            
            .alternate {
                background-color: map-get($colors, secondary);
            }
 
            .playing {
 
                background-color: map-get($colors, dark);
 
                img {
                    opacity: 0.4;
                }
            }
            .btnlist 
            {
                margin: 0px 0px;
            }
        }
 
        ion-avatar {
            position: relative;
        }
 
        ion-spinner {
            position: absolute;
            top: 0;
            left: 0;
            margin: 4px !important;         
        }
 
        [ion-item] {
            background-color: map-get($colors, primary);
            //padding: 20px;
        }
 
        ion-card {
            background-color: map-get($colors, light);
            opacity: 0.9;
            height: $song-card-height;
            bottom: 0;
        }
 
        ion-footer {
            height: 75px;
            background-color: map-get($colors, dark);
 
            ion-grid, ion-row, ion-col {
                height: 100%;
            }
 
            ion-col {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
 
    }
    .no-scroll .scroll-content{
        overflow: hidden;
    }
 
}