
page-articles {
    

    .content{
        background-color: color($colors, secondary);
    }

    .buttons{
        border-left: 2px;
        border-right: 2px;
        border-color: white;
        border : 5px;
    }

}
